cached_property
six
IPython
ipykernel
pytest-parallel 
numpy >= 1.18.1
matplotlib
bokeh
webcolors
scipy
numexpr
numba
pint>=0.10.1
peakutils
seaborn
uncertainties
pyaml
pandas>=1.1
cartopy>=0.18
holoviews
xarray
tqdm
cx_Oracle
xlrd
inflect
dask>=2.8.1
distributed>=2.8.1
msgpack==0.6.2
netcdf4
titlecase
yapf
inflection
h5py
bezier==0.10.0
svg.path
lxml
black
flake8
pre_commit
periodictable
scikit-image
python-pptx
pyshtools
fireworks
paramiko
fabric
joblib
pytest
coverage
gunicorn==19.9.0
plotly>=4.5.2